@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
